<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Main</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Main page</h1>
    <p>Welcome to our site</p>
    <a href="/cars">Cars list</a>
  </body>
</html>
